/* Basic */
html {
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  html, body {
    height: 90%;
    overflow-x: hidden;
    width: 90%; }
  
  body {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-color: #000;
    padding: 6em 4em 4em 4em; }
    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
      -moz-animation: none !important;
      -webkit-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
      -ms-transition: none !important;
      transition: none !important; }
    body > * {
      position: relative;
      z-index: 2; }
  
  
  /* Type */
  body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.65em; }
  
  a {
    -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    transition: border-bottom-color 0.2s ease, color 0.2s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
    color: #1cb495;
    text-decoration: none; }
    a:hover {
      border-bottom-color: transparent;
      color: #1cb495 !important;
      text-decoration: none; }
  
  
  p {
    margin: 0 0 2em 0; }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
      color: inherit;
      text-decoration: none; }
  
  h1 {
    font-size: 2.5em;
    line-height: 1.25em; }
  
  h2 {
    font-size: 1.75em;
    line-height: 1.5em; }
  
  /* List */
  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em; }
    ol li {
      padding-left: 0.25em; }
  
  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em; }
    ul li {
      padding-left: 0.5em; }
  
  /* Icons */
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 1.25em; }
      ul.icons li a {
        color: inherit; }
  
  /* Form */
  form {
    margin: 0 0 2em 0; }
  
  label {
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 1em 0; }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: border-color 0.2s ease, background-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
    -ms-transition: border-color 0.2s ease, background-color 0.2s ease;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    border: solid 2px rgba(255, 255, 255, 0.35);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%; }
    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
      box-shadow: none; }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
      -moz-animation: focus 0.1s;
      -webkit-animation: focus 0.1s;
      -ms-animation: focus 0.1s;
      animation: focus 0.1s;
      background-color: rgba(255, 255, 255, 0.125);
      border-color: #1cb495; }
  
  textarea {
    padding: 0.75em 1em; } 

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: #1cb495;
  border-radius: 6px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.125em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: #1fcaa7; }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: #199e83; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    opacity: 0.5; }    
  /* Header */
#header h1 {
  font-size: 3.25em;
  margin: 0 0 0.55em 0; }

#header p {
  font-size: 1.35em;
  line-height: 1.65em; }

#header a {
  color: inherit; }

/* Estilo para la imagen a la derecha del texto */
.image-right {
    float: right;
    margin-left: 60px;
}
.overlay-image {
    position: absolute;
    top: 0;
    right: -100px; /* Ajusta el valor según cuánto quieras mover la imagen a la derecha */
    z-index: 999; /* Asegura que la imagen esté por encima de otros elementos */
    width: 600px; /* Ajusta el ancho según tu preferencia */
    height: 600px; /* Ajusta el alto según tu preferencia */
}    